/**
 * Flexbox
 */
/**
 * Media Queries
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.entry-content .bcw-members-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .entry-content .bcw-members-list__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (min-width: 600px) {
      .entry-content .bcw-members-list__item {
        width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }
    .entry-content .bcw-members-list__item-text-wrapper {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (min-width: 600px) {
        .entry-content .bcw-members-list__item-text-wrapper {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          width: 60%;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start; } }
    .entry-content .bcw-members-list__item-title {
      margin: 0.625rem 0; }
    .entry-content .bcw-members-list__item-sub-title {
      margin: 0.625rem 0; }
    .entry-content .bcw-members-list__item-avatar {
      padding: 0;
      margin: 0.625rem auto;
      width: 60%;
      border-radius: 100%;
      max-width: 100%;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      @media (min-width: 600px) {
        .entry-content .bcw-members-list__item-avatar {
          padding: 0.625rem;
          -webkit-box-ordinal-group: 3;
              -ms-flex-order: 2;
                  order: 2;
          width: 40%;
          margin: 0; } }

.bcw-members-title {
  border-bottom: 1px solid #333; }
