* {
  box-sizing: border-box;
}

.entry-content .bcw-members-list {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;

  &__item {
    width: 100%;
    @include flexed(column, nowrap);

    @include tablet {
      width: 50%;
      @include flexed(row, nowrap);
    }

    // text wrapper
    &-text-wrapper {
      order: 2;
      width: 100%;
      @include flexed(column, nowrap, center, center);
      @include tablet {
        order: 1;
        width: 60%;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    // title
    &-title {
      margin: 0.625rem 0;
      padding: 0;
    }

    // subtitle
    &-sub-title {
      margin: 0.625rem 0;
      padding: 0;
    }

    // profile image
    &-avatar {
      padding: 0;
      margin: 0.625rem auto;
      width: 60%;
      border-radius: 100%;
      max-width: 100%;
      order: 1;
      @include tablet {
        padding: 0.625rem;
        order: 2;
        width: 40%;
        margin: 0;
      }
    }
  } // &__item
}

.bcw-members-title {
  border-bottom: 1px solid #333;
}
