.bcw-members-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
}

.bcw-members-list__item {
    flex: 1 1 100%;
}

.bcw-members-title {
    border-bottom: 1px solid #333;
}

@media (min-width: 600px){
    .bcw-members-list__item {
        flex: 1 1 50%;
    }
}